* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    height: 8rem;
    
}
#ontop {
    height: 1rem;
    background-image: url(./img/shape_horizontal.svg);
}
#logoHeader {
    height: 3rem;
    margin: 8px 8px;
    background-image: url(./img/Vietnamese-165px.jpg);
    background-repeat: no-repeat;
}

#main {
    margin: 2rem 2rem;
}

.beltTittle {
    background-color: DodgerBlue;
    color: black;
}

.green-ok {
    background-color: MediumSeaGreen;
    font-weight: 400;
}

.red-nok {
    background-color: red;
    font-weight: 400;
}

.first-col {
    background-color: LightGray!important;
    color: black;
}